#playgame{
    background-color: blueviolet;
    color:white;
    border-radius: 40px;
}


#heading{
    background-color: blueviolet;
    color:white;
}

#button{
    background-color: blueviolet;
    color:white;
    border-radius: 40px;
    float:right;
}
#status{
    background-color: blueviolet;
    color:white;
    border-radius: 40px;
}

.heading h3{
    display:inline;
}

h4{
    background-color: #f5f5f5f5;
    line-height: 2;
    margin:0px;
}

.modal-dialog{
    width:90%;
}

.instructions{
    display:inline-block;
    width:45%;
}
